<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>Application Details :</h3>

<div>
  <form action="/apply/{{user}}" method="post">
    <label for="fname">Starting date</label>
    <input type="date" id="date" name="date" placeholder="mm/dd/yyyy">
 </br></br>
    <label for="lname">Number of Days</label>
    <input type="number" id="number" name="number" placeholder="days for leave"> </br></br>
 
    <label for="type">Type</label>
    <select id="type" name="type">
      <option value="normal">No need to borrow</option>
      <option value="borrow">Need to Borrow</option>
    </select>

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
