<!DOCTYPE html>
<html>
    <head>
        <style>
                h3 {border: 1px solid red;
                   background-color:lightgoldenrodyellow  ;}
                p {
                    font-family:courier;
                    font-size : 150%;
                    font-style: italic;
                    color: teal;
                  }
        </style>
    </head>
<body>
    <center>
    <h3 style= " font-family:verdana;  font-size:x-large;" >   Last status of application     </h3>
    </br> </br>
    <p> It was at {{msg1}} </p>
    </center>
</body>
<html>