<!DOCTYPE html>
<html>
   <head>
      <style>
        
        body{
            background-color: rgb(236, 200, 231);

           }

        
       .a {     border : 2px dotted black;
                 padding: 30px;

                 color:darkgreen ;
                font-family:sans-serif;
                font-size: 90%;
              }
         h1 {border: 2px solid red;}
                
      </style>

   </head>

  

   <body class="container">
         <h1 style="color:blue;"> PROFILE DETAILS :</h1>
    </br>
      <p >
         <h2 style="color:brown">Personal Information :</h2>
      </br>
      <div class = "a">
          {{info}}
      </div>
      </br>
      <h2 style="color:brown">Data :</h2>
      <div class = "a">
       {{text}}
       </div>
   </br> 
   <h2 style="color:brown">Achievements :</h2>
   <div class = "a">
   {{ach}}
   </div>
      </p>  
   </body>
</html>

